/artifacts/
/renode_portable/
/zephyrproject/
/zephyr-sdk/
snapshots/
logs/
/micropython/
/sargraph/
xtensa-esp32-elf/
*.run
*.html
*.xml
*.overlay
__pycache__
monitor.txt*
/src
micropython.build.log
Makefile
/node_modules
/package.json
/package-lock.json
